nav {
    display: flex;
    justify-content: space-between;
}

nav a {
    margin-right: 10px;
}

.register-form {
    display: flex;
    flex-direction: column;
    max-width: 350px;
}

.login-form {
    display: flex;
    flex-direction: column;
    max-width: 350px;
}

.contact-map {
    max-width: 1000px;
}

header p {
    display: inline;
}

.price-card img {
    max-width: 300px;
}

.price-card {
    border: solid 1px;
    padding: 5px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

.price-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.record-info {
    display: flex;
    flex-direction: column;
    max-width: 350px;
}

.session-card {
    border: solid 1px;
    max-width: 350px;
    margin-right: 10px;
    padding: 5px;
}

.session-cards {
    display: flex;
}

.admin-cards {
    display: flex;
    flex-wrap: wrap;
}

.admin-card {
    border: solid 1px;
    max-width: 450px;
    margin-right: 10px;
    padding: 5px;
}

.portfolio-card {
    border: 1px solid;
    padding: 5px;
    max-width: 600px;
}

.portfolio-card img {
    max-width: 600px;
}

.portfolio-cards {
    display: flex;
}

.category-cards {
    display: flex;
    flex-direction: column;
}

.category-card {
    border: solid 1px;
}

.category-card-photos {
    display: flex;
    flex-direction: row;
}

.category-card img {
    max-width: 600px;
}

.about-photographers {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.about-photographers img {
    max-width: 200px; 
}