@font-face {
    font-family: 'Pacifico';
    src: url('fonts/Pacifico-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RubikGemstones';
    src: url('fonts/RubikGemstones-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Unbounded';
    src: url('fonts/Unbounded-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

/*  ГЛАВНАЯ СТРАНИЦА  */
body {
    background-image: url("img/other/background.jpg");
}

p {
    font-family: "Unbounded";
}

h2 {
    font-family: "Unbounded";
}

h3 {
    font-family: "Unbounded";
}

a {
    font-family: "Unbounded";
}

nav {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 5px;
}

nav a {
    margin-right: 10px;
    font-family: "RubikGemstones";
    text-decoration: none;
}

nav a:hover {
    color: rgb(93, 96, 226);
}

.about-logo {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.about-logo img {
    max-width: 150px;
}

.about-logo h1 {
    font-family: "Pacifico";
    margin-right: 20px;
}

.about-photographers {
    display: flex;
    flex-direction: row;
}

.about-photographers img {
    max-width: 200px;
}

.about-photographer {
    margin-right: 20px;
}


/*  Портфолио  */
.portfolio {
    background-image: url("img/other/background2.png");
}

.portfolio-card {
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    max-width: 600px;
}

.portfolio-card img {
    max-width: 600px;
    border-radius: 5px;
    border: solid 1px white;
}

.portfolio-cards {
    display: flex;
    gap: 10px;
    padding-bottom: 10px;
    overflow-x: auto; /* Добавляем горизонтальную прокрутку при необходимости */
}

.portfolio-card h3 {
    margin-top: 0;
}


/*  КАТЕГОРИИ  */
.category {
    background-image: url("img/other/background3.jpg");
}

.category-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.category-card {
    display: flex;
    flex-direction: column;
    border: solid 1px;
    
    padding: 10px;
    overflow-x: auto; /* Добавляем горизонтальную прокрутку при необходимости */
}

.category-card-photos {
    display: flex;
    gap: 5px;
}

.category-card img {
    max-width: 600px;
    border-radius: 5px;
    border: solid 1px white;
}

.category-card h3 {
    margin-top: 0px;
}


/*  ПРАЙС  */
.price {
    background-image: url("img/other/background4.jpg");
}

.price-record {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-family: "Unbounded";
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    padding: 5px;
}

.price-record button {
    font-family: "Unbounded";
}

.price-record select {
    font-family: "Unbounded";
}

.price-card img {
    max-width: 300px;
    border-radius: 5px;
    border: solid 1px white;
}

.price-card {
    border: solid 1px;
    border-radius: 10px;
    padding: 5px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

.price-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}


/*  ЗАПИСЬ  */

.record-info {
    display: flex;
    flex-direction: column;
    max-width: 350px;
}

.record-form {
    font-family: "Unbounded";
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.record-form button {
    font-family: "Unbounded";
}

.record-form select {
    font-family: "Unbounded";
}


/*  КОНТАКТЫ  */
.contact {
    background-image: url("img/other/background5.jpg");
    background-size: 100% auto;
}

.contact-map {
    max-width: 1000px;
}


/*  РЕГИСТРАЦИЯ  */
.register-form {
    display: flex;
    flex-direction: column;
    max-width: 350px;
}

.login-form {
    font-family: "Unbounded";
    display: flex;
    flex-direction: column;
    max-width: 350px;
}




header p {
    display: inline;
}

.session-card {
    border: solid 1px;
    max-width: 350px;
    margin-right: 10px;
    padding: 5px;
}

.session-cards {
    display: flex;
}

.admin-cards {
    display: flex;
    flex-wrap: wrap;
}

.admin-card {
    border: solid 1px;
    max-width: 450px;
    margin-right: 10px;
    padding: 5px;
}
